.App {
  height: 100vh;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.left-container {
  width: 200px;
}
.right-container {
  -moz-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
