.points {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex: 2;
  -webkit-flex: 2;
  -moz-flex: 2;
}
.points > div {
  text-align: center;
  -moz-flex: 1;
  -webkit-flex: 1;
        flex: 1;
}
