.points {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex: 1;
  -webkit-flex: 1
}
.points > div {
  text-align: center;
  -webkit-flex: 1;
        flex: 1;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}
.on {
  background-color: #66CE66;
  border-bottom: 5px solid #ffffff;
}
.off {
  background-color: #229C22;
  border-bottom: 1px solid #ffffff;
}
.number {
  font-size: 26px;
  color: yellow;
}
